/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: whitesmoke;
  min-height: 100vh;
  color: #1f2937;
}

/* maybe a few global utilities if you want */
.page {
  display: block;
}
